<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="../asset/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/uikit.min.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/style.css">

    <title>微信公共服务平台</title>
</head>
<body>
<!-- 头部 -->
<div class="uk-container uk-margin-bottom padding0">
    <div class="uk-grid uk-align-center">
        <div class="uk-width-1-1 padding0">
            <img src="../asset/imgs/top.jpg" width="100%">
        </div>
    </div>
    <!-- /头部 -->

    <!-- 主体 -->

    <div class="uk-grid uk-align-center width95">
        <div class="uk-width-1-1 padding10">
            <p></p>

            <p>联想移动互联行业应用-微信公众平台是为广大移动互联行业应用ISV和渠道商提供的全方位的服务平台。</p>

            <p></p>

            <p>
                平台为企业级客户提供多样的、量身打造的移动互联解决方案，以及提供各种联想移动互联行业应用的最新资讯；通过对关键问题进行智能匹配以及对深入问题的人工服务，为ISV在解决企业客户的问题时提供一个重要而且有效的沟通渠道。</p>

            <p></p>

            <p>欢迎您关注联想移动互联行业应用微信公众平台，我们将为您提供包括：产品、解决方案、成功案例、智能回复、一对一贴心服务咨询等不同方式的信息支持。</p>

            <p></p>

            <p>感谢您的使用和大力支持！</p>

            <p></p>
        </div>
    </div>
    <!-- /主体 -->

    <!-- 底部 -->
    <footer>
    </footer>
    <!-- /底部 -->

</div>
</body>

<!--<script type="text/javascript" src="../asset/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="../asset/js/jquery.raty.min.js"></script>-->

</html>