<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>我要咨询</title>
</head>
<body>
<div class="row"  style="margin-left: 0px;margin-right: 0px;">
    <img src="../asset/imgs/top.jpg" style="width:100%;" alt=""/>
    <div style="background:url('../asset/imgs/title2px.png');min-height: 19px;padding:5px;margin-bottom: -25px;width: auto;float: left;position: relative;font-size: 10px;top: -55px;color: #ffffff;">
        移动互联解决方案（${infoType}）
    </div>
</div>
<!-- 头部 -->
<div class="container">
        <form id="consultForm" class="form-horizontal" action="${ctx!}/web/newConsultPost" method="post">
            <div class="panel-group" id="accordion" style="margin-left: -15px;margin-right: -15px;" role="tablist"
                 aria-multiselectable="true">
                <div class="panel panel-default" style="margin-top:0px;border-radius:0px;border:0px solid;">
                    <div class="panel-heading" role="tab" id="headingOne" style="border-bottom: 2px solid #ef2e24;padding:0px;">
                        <h4 class="panel-title">
                        <a data-toggle="collapse"  onclick="toggleArrow(this)" style="display: block;width: 100%;padding:10px 15px" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <input name="openId" type="hidden" value="${openId!}"/>
                            基本信息
                            <img src="../asset/imgs/arrowup.png" style="float: right;width: 25px;">
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                            <div class="form-group">
                                <label for="inputEmail3" style="float: left" class="col-sm-2 control-label">姓名：</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control" id="inputEmail3" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" style="float: left" class="col-sm-2 control-label">电话：</label>
                                <div class="col-sm-10">
                                    <input ype="text" name="mobile" class="form-control" id="mobile" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" style="float: left" class="col-sm-2 control-label">邮箱：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email" name="email" required="true">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
                <div class="panel panel-default"  style="margin-top:0px;border-radius:0px;border:0px solid;">
                    <div class="panel-heading" role="tab" id="headingTwo"  style="border-bottom: 2px solid #ef2e24;padding:0px;">
                        <h4 class="panel-title">
                            <a class="collapsed" onclick="toggleArrow(this)" style="display: block;width: 100%;padding:10px 15px"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            咨询内容
                                <img src="../asset/imgs/arrowup.png" style="float: right;width: 25px;">
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                            <div class="form-group">
                                <label for="schemeId" class="col-sm-2 control-label">方案名称：</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="schemeId" name="schemeId" required="true">
                                    <#if resources??>
                                        <#list resources as resource>
                                        <option value="${resource.id}">${resource.name}</option>
                                        </#list>
                                    </#if>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="intro" class="col-sm-2 control-label">需求描述：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height:100px;" id="intro" name="intro" required="true"></textarea>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-danger btn-block">
        </form>
</div>

<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $('#consultForm').submit(function(e){
            e.preventDefault();
            var url = $(this).attr('action'), data = {}, checked = true;
            $('#consultForm input,#consultForm select,#consultForm textarea').each(function(i,v){
                var that= $(v);
                if(that.val().trim()==''){
                    that.focus();
                    checked = false;
                }

                data[that.attr('name')] = that.val();
            });
            if(checked){
                var scheme=$("#schemeId").find("option:selected").text();
                data.scheme = scheme;

                $.post(url, data, function(res){
                    if(res.success){
                        alert('提交成功!');
                    }else{
                        alert('请完整填写数据重新提交!');
                    }
                });
            }else{
                alert('请填写完整后提交！')
            }

            return false;
        });

    })
    function toggleArrow(obj) {
        var isIn = $(obj).parents(".panel").find(".collapse").hasClass("in");
        if (isIn) {
            $(obj).find("img").css({
                transform: 'rotate(0deg)',
                WebkitTransform: 'rotate(0deg)'
            });
        } else {
            $(obj).find("img").css({
                transform: 'rotate(180deg)',
                WebkitTransform: 'rotate(180deg)'
            });
        }
    }
</script>
</body>
</html>