<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="../asset/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/uikit.min.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/style.css">

    <title>新闻/活动</title>

</head>
<body>


<!-- 头部 -->

<div class="uk-container uk-margin-bottom padding0">
    <div class="uk-grid uk-align-center">
        <div class="uk-width-1-1 padding0 produ_bg">
            <p class="produ_title">联想MIA微信公众平台上线啦！</p>
        </div>
    </div>

    <!-- /头部 -->

    <!-- 主体 -->

    <div class="uk-grid uk-align-center width95">
        <div class="uk-width-1-1 padding10">
            <p>
                亲们，经过小编们的加班加点的艰苦努力，联想移动互联行业互联 微信公众平台 终于上线啦！
            </p>

            <p>
                <span style="line-height:1.5;">平台提供了包括产品资料，解决方案，成功案例，在线视频，新闻活动，问题查询等多个板块。另外通过微信直接输入，您可以快捷的查询到你想要的资料哦。我们将会逐步加入更多的内容和服务项目，小伙伴们，敬请期待哦！</span>
            </p>

            <p>
                <span style="line-height:1.5;">祝小伙伴们五一快乐！</span>
            </p>

            <p>
	<span style="line-height:1.5;"><img src="./news_files/536161cd23be1.jpg" alt=""><br>
</span>
            </p></div>
    </div>
</div>


<!-- /主体 -->

<!-- 底部 -->
<footer>

</footer>
<!-- /底部 -->

</body>
</html>