<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>产品资料</title>
    <style>
        .line{ height:1px; border-bottom:1px solid #ccc; overflow:hidden; }
    </style>
</head>
<body>


<!-- 头部 -->
<div class="container">
    <div class="row">
        <img src="../asset/imgs/top.jpg" style="width:100%;" alt=""/>
    </div>
    <#if resultMap??>
    <#list resultMap?keys as key>
        <div class="row" style="margin-top:10px;margin-left:0px;margin-right:0px;">
            <h3>${key}</h3>
            <div class="line"></div>
            <#assign resources=resultMap[key]>
        </div>
        <#list resources as resource>
        <div class="row" style="margin-top:10px;margin-left:0px;margin-right:0px;">
            <div class="media">
                <div class="media-left">
                    <a href="${ctx}/web/product?resourceId=${resource.id}">
                        <img class="media-object" src="${resource.thumbnail}" style="width:80px" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a href="${ctx}/web/resource?resourceId=${resource.id}">
                        <h4 class="media-heading">${resource.name}</h4>
                    </a>
                    <p>${resource.intro}</p>
                </div>
            </div>
        </div>
        </#list>
    </#list>
    </#if>
</div>

</body>
</html>