<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="../asset/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/uikit.min.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/style.css">
    <title>产品资料</title>

</head>
<body>

<!-- 头部 -->
<div class="uk-container uk-margin-bottom padding0">
    <div class="uk-grid uk-align-center">
        <div class="uk-width-1-1 padding0">
            <img src="../asset/imgs/top.jpg" width="100%">
        </div>
    </div>
    <!-- /头部 -->

    <!-- 主体 -->
    <div class="uk-grid uk-align-center width95">
        <div class="uk-width-1-1 padding0">
            <p class="produ_class">大客户专属产品</p>
        </div>
    </div>

    <a href="http://mia.lenovo.com.cn/index.php?s=/Home/Data/detail/id/179/FromUserName/ouMyKt-u1q2TWL4PARmRXG4AzBY0.html"
       class="uk-grid uk-align-center width95 margin_top10">
        <div class="uk-width-2-10 padding0">
            <img src="./productIntro_files/70601153f615103254f.jpg" width="100%">
        </div>
        <div class="uk-width-8-10 padding_left15">
            <p class="pro_p1">大客户专属A7-60</p>

            <p class="pro_p2">
            </p>
        </div>
    </a><a
        href="http://mia.lenovo.com.cn/index.php?s=/Home/Data/detail/id/178/FromUserName/ouMyKt-u1q2TWL4PARmRXG4AzBY0.html"
        class="uk-grid uk-align-center width95 margin_top10">
    <div class="uk-width-2-10 padding0">
        <img src="./productIntro_files/1080 1153f6133709f6c.jpg" width="100%">
    </div>
    <div class="uk-width-8-10 padding_left15">
        <p class="pro_p1">大客户专属A10-80</p>

        <p class="pro_p2">
        </p>
    </div>
</a>


    <div class="uk-grid uk-align-cente" id="more" style="display:none;">
        <button class="bt4"><p style="font-size:24px;">查 看 更 多 <img src="../asset/imgs/pre.png" width="20"></p></button>
    </div>


</div>


<!-- /主体 -->

<!-- 底部 -->
<footer>

</footer>
<!-- /底部 -->

</body>

<script type="text/javascript" src="../asset/js/jquery.min.js"></script>
<script type="text/javascript" src="../asset/js/jquery.raty.min.js"></script>
</html>