<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../asset/css/uikit.min.css"/>
    <title>详细信息</title>

</head>
<body>

<!-- 头部 -->
<div class="container">
<div class="jumbotron">
    <img src="${resource.banner}" alt="" style="position:absolute;left:0;top:0;height: 200px;width:100%;"/>
    <div style="position:relative;z-index: 10;bottom: -40px;">
        <h2 style="color:#FFF;margin-top:50px;">${resource.name}</h2>
    </div>
</div>
<div class="clearfix"></div>
    <div class="container">
        <div class="row" id="content" style="margin-top: 50px;">
            ${resource.content}
            <#if refCases??||refDemos??>
            <div class="well">
                <#if refCases??>
                    <#list refCases![] as case>
                        <p><a href="${ctx}/web/resource?resourceId=${case.id}">查看案例${case_index+1}:${case.name}</a></p>
                    </#list>
                </#if>
                <#if refDemos??>
                    <#list refDemos![] as demo>
                    <p><a href="${ctx}/web/resource?resourceId=${demo.id}">查看DEMO${demo_index+1}:${demo.name}</a></p>
                    </#list>
                </#if>
            </div>
            </#if>
            <#if resource.attachment??>
                <div class="well">
                    <p><a href="${resource.attachment}">下载DEMO附件</a></p>
                </div>
            </#if>
        </div>
    </div>
</div>

<script src="../asset/js/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $("#content img").css("cursor","pointer");
    });
</script>


<!-- /主体 -->

<!-- 底部 -->
<footer>

</footer>
<!-- /底部 -->

</body>
</html>