<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="../asset/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/uikit.min.css">
    <link type="text/css" rel="stylesheet" href="../asset/css/style.css">
    <title>解决方案列表</title>


</head>
<body>


<!-- 头部 -->


<div class="uk-container uk-margin-bottom padding0">
    <div class="uk-grid uk-align-center">
        <div class="uk-width-1-1 padding0">
            <img src="../asset/imgs/top.jpg" width="100%">
        </div>
    </div>


    <!-- /头部 -->

    <!-- 主体 -->


    <div class="uk-grid uk-align-center width95">

        <script type="text/javascript">
            function formchk() {
                var addform = document.seach;
                if (addform.title.value == "") {
                    alert("搜索内容不能为空!");
                    addform.title.focus();   //用户名输入框获得焦点
                    return false;   //不提交表单
                }
                return true;   //输入符合要求后执行表单提交操作
            }
        </script>
    </div>
    <div class="uk-grid uk-align-center width95">
        <div class="uk-width-1-1 padding0">
            <img src="${category.logo}" alt=""/>
            <p class="produ_class">${category.name}</p>
        </div>
    </div>
    <#list resources as resource>
    <a href="${ctx}/web/resource?resourceId=${resource.id}"
       class="uk-grid uk-align-center width95" name="content">
        <div class="uk-width-2-10 padding0">
            <img src="${resource.thumbnail}" width="100%" class="pro_img" style="height: 80px;">
        </div>
        <div class="uk-width-8-10 padding_left15">
            <p class="pro_p1">${resource.name}</p>

            <p class="pro_p2">
                ${resource.intro}
            </p>
        </div>
    </a>
    </#list>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("a[name='content'] img").each(function () {
            $(this).css("height", $(this).width());
        });
    });
</script>


<!-- /主体 -->

<!-- 底部 -->
<footer>

</footer>
<!-- /底部 -->

</body>
</html>