<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <title>解决方案列表</title>

    <style>
        .media img{
            width:64px;
            height:64px;
        }
    </style>
</head>
<body>


<!-- 头部 -->
<div class="container">
    <div class="row">
        <img src="../asset/imgs/top.jpg" style="width:100%;" alt=""/>
    </div>
    <div class="row" style="margin:30px 0px;">
        <img src="${category.logo}" alt="" style="min-width:50px;max-width:80px;height:80px;"/>
        <span class="label label-primary" style="margin-left:20px;font-size: 18px;">${category.name}</span>
    </div>

    <div class="row">
        <#list resources as resource>
            <div class="media">
                <div class="media-left">
                    <a href="${ctx}/web/resource?resourceId=${resource.id}">
                        <img class="media-object" src="${resource.thumbnail}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a href="${ctx}/web/resource?resourceId=${resource.id}">
                        <h4 class="media-heading">${resource.name}</h4>
                    </a>
                    <p>${resource.intro}</p>
                </div>
            </div>
        </#list>
    </div>
</div>

</body>
</html>