@charset"utf-8";body,html {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    /*font-family: "微软雅黑 ","宋体","Trebuchet MS",Arial,Helvetica,sans-serif;*/
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

a:hover{
    text-decoration: none;
}
/*
  Header
*/

.bs-header {
    color: #FFF;
    text-align: center;
    background-color: #5fb0e4;
    background-image: url('../images/index/logo.png');
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bs-header {
    margin-top:10px;
    font-size: 16px;
    height: 114px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.bs-header .container {
    position: relative;
}
.bs-header ul li{
    margin: 0px 0px;
    padding: 0px 0px;
}

.bs-header li{
    float:left;
    width:63px;
    height:65px;
    position:relative;
}
.bs-header li a{
    height:65px;
    background: #DBEAF8 url(../images/index/headermenu.png) no-repeat;
}
.bs-header .data{
    background-position:0% 0%;
}
.bs-header .wallet{
    background-position:25% 0%;
}
.bs-header .myAppointment{
    background-position:50% 0%;
}
.bs-header .myHomework{
    background-position:75% 0%;
}
.bs-header .course{
    background-position:101% 0%;
}

.navbar-inverse .navbar-inner {
    background: #FE4141;
    background-image: -webkit-linear-gradient(top, #FE4141, #FE4141);
}
.navbar .nav > li > a {
    color: #DDD;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #FE4141;
}

.navbar-inner .brand{
    color: #fff;
}
#main-menu{
    margin-top: 10px;
}
#main-menu .menu{
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background-color: #FE4141;
    height: 60px;
    line-height:60px;
    font-size: 14px;
}
#main-menu .menu ul{
    height: 60px;
    margin:0;
    padding:0;
    display:inline;
    list-style-type:none;
}
#main-menu .menu ul li{
    list-style-type:none;
    text-align:center;
    line-height:60px;
    display:inline;
    padding:0;
    width:135px;
}
#main-menu ul a {
    line-height:58px;
    padding:0px 0px;
    height:58px;
    color: #ffffff;
}
#main-menu ul a:hover{
    color:#666666;
    background: #FFF url(../images/index/menuselect.png) no-repeat left top;
    background-position: center;
}


#main{
    margin:5px;
    padding:10px;
    width:100%;
    /*height:100%;*/
    font-size: 14px;
    background-color: #F2F2F2;
}

.bred{
    background-color: #FE4141;color:#ccc;
}

.border-red{
    border:solid 1px;
    border-color:#FE4141;
    padding:0px 0px;
    border-radius: 4px;
}

.border-orange{
    border:solid 1px;
    border-color:#eea236;
    padding:0px 0px;
    border-radius: 4px;
}

.border-grey{
    border:solid 1px;
    border-color:#ccc;
    padding:0px 0px;
    border-radius: 4px;
}

.user-data{
    margin:0px 20px;
}


.mr20{
    margin-right: 20px;
}

.heading-title{
    color: #373E44;
    margin-bottom:10px;
    padding-bottom:10px;
    background: url("../images/normal-bar.png") repeat-x bottom left;
    font-weight:700;
    font-size:12px;
    line-height:20px;
}
