<#assign ctx=request.contextPath>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>微信后台管理</title>

    <link rel="stylesheet" href="${ctx}/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="${ctx}/asset/css/main.css">
    <link rel="stylesheet" href="${ctx}/asset/css/dashboard.css">
    <link rel="stylesheet" href="${ctx}/asset/css/pnotify.custom.min.css">
    <link rel="stylesheet" href="${ctx}/asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="${ctx}/asset/css/jquery.fancybox.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="${ctx}/asset/js/html5shiv.min.js"></script>
    <script src="${ctx}/asset/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">微信后台管理</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="javascript:void(0);" id="products">产品管理</a></li>
                <li><a href="javascript:void(0);" id="schemes">方案管理</a></li>
                <li><a href="javascript:void(0);" id="cases">案例管理</a></li>
                <li><a href="javascript:void(0);" id="demos">产品DEMO管理</a></li>
                <li><a href="javascript:void(0);" id="videos">视频管理</a></li>
                <li><a href="javascript:void(0);" id="changePass">修改密码</a></li>
                <li><a href="javascript:void(0);" id="exit">退出</a></li>
            </ul>
        </div>
        <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        </div>

    </div>
</div>

</body>

<script src="${ctx}/asset/js//jquery.min.js"></script>
<script src="${ctx}/asset/js/bootstrap.min.js"></script>
<script src="${ctx}/asset/js/jquery.twbsPagination.js"></script>
<script src="${ctx}/asset/js/bootstrap-filestyle.min.js"></script>
<script src="${ctx}/asset/js/pnotify.custom.min.js"></script>
<script src="${ctx}/asset/js/jquery.form.js"></script>
<script src="${ctx}/asset/js/jquery.fancybox.js"></script>
<script src="${ctx}/asset/js/resource.js"></script>
<script>
    $(function(){
        ajaxCallbackHandle('${ctx}/manage/login');

        $('#products').click(function(){
            $('.active').removeClass('active');
            $(this).parent('li').addClass('active');
            $('#content').load('${ctx}/manage/products?category=products');
        })

        $('#schemes,#cases,#demos').click(function(){
            $('.active').removeClass('active');
            $(this).parent('li').addClass('active');
            var id = $(this).attr('id');
            $('#content').load('${ctx}/manage/resources?category='+id);
        })

        $('#videos').click(function(){
            $('.active').removeClass('active');
            $(this).parent('li').addClass('active');
            $('#content').load('${ctx}/manage/videos');
        })

        $('#changePass').click(function(){
            $('.active').removeClass('active');
            $(this).parent('li').addClass('active');
            $('#content').load('${ctx}/manage/toChangePass');
        });

        $('#exit').click(function(){
            location.href='${ctx}/manage/exit';
        });

        $('#products').trigger('click');
    })
</script>
</html>
