<#assign ctx=request.contextPath>
<div class="container">
    <div class="row">
        <form id="search" class="form-inline" role="form">
            <button id="addProduct" class="btn btn-success">新增</button>
        </form>
        <div class="col-md-10" style="margin-top:20px;">
            <div id="tds">

                <table class="table table-bordered table-responsive table-striped" id="table">
                    <thead>
                    <tr>
                        <th class="col-md-1">id</th>
                        <th class="col-md-2">名称</th>
                        <th class="col-md-1">Logo</th>
                        <th class="col-md-1">url</th>
                        <th class="col-md-1">大小</th>
                        <th class="col-md-1">时长</th>
                        <th class="col-md-1">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list videos as video>
                        <tr>
                            <td>${video_index+1}</td>
                            <td>${video.name}</td>
                            <td><a class="fa fa-image fancybox" href="${video.logo}"></a></td>
                            <td>${video.url}</td>
                            <td>${video.size}</td>
                            <td>${video.length}</td>
                            <td>
                                <a href="javascript:void(0);" data-opt="view" data-id="${video.id}">查看</a>
                                <a href="javascript:void(0);" data-opt="delete" data-id="${video.id}">删除</a>
                            </td>
                        </tr>
                    </#list>
                    </tbody>
                </table>
                <#if (videos![])?size < 1>
                    <div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 20px;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>没有记录!</strong>
                    </div>
                </#if>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {

        $('#addProduct').click(function(){
            $('#content').load('${ctx}/manage/video/add');
            return false;
        })

        $('#table').on('click','a',function(){
            var opt=$(this).data('opt');
            var videoId=$(this).data('id');
            if(opt=='view'){
                $('#content').load('${ctx}/manage/video/add?videoId='+videoId);
            }else{
                $.get('${ctx}/manage/video/delete',{videoId:videoId},function(){
                    $.mhtMsg('操作成功!');
                    $('#content').load('${ctx}/manage/videos');
                })
            }
        })

        $('#resetForm').click(function(){
            $('#name').val('');
            return false;
        })

    });
</script>